
<!-- Menu -->
<p>
  <mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Academia</button>
      <button mat-menu-item>Categorias</button>
      <button mat-menu-item>Jugadores</button>
      <button mat-menu-item>Campeonatos</button>
      <button mat-menu-item>Partidos</button>
      <button mat-menu-item>Nominas</button>
      <button mat-menu-item>Profesores</button>
    </mat-menu>
    <span>Academy Manager</span>
  </mat-toolbar>
</p>
<!-- app.component.html -->
<div fxLayout="column" fxLayoutAlign="center center" class="home-container">

<!-- Main -->
<div id="main">
  <h1>Talents Sport</h1>
  <app-home></app-home>
  <h2>Galeria</h2>
  <app-gallery></app-gallery>
</div>
<div *ngFor="let message of data">
  {{message.name }} - {{ message.description }}
</div>


<!-- footer -->
</div>
