/* app.component.css */
.gallery-container {
  height: 80%;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  mat-grid-tile {
    border: 1px solid #ddd;
    overflow: hidden;
  }
  
  img {
    width: auto;
    height: auto;
  }